@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 75px;
    font-size: 27px;
    align-items: center;
    display: flex;
    padding: 0 12px;
    font-family: 'Raleway', sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Raleway', sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.box:hover{
    background-color: rgb(198, 209, 212);
}
.info{
    font-size: 20px;
}
.gameInfo{
    padding:34px;
}
.gameInfo h1{ 
    padding: 0px 0px 15px;
    font-size: 1.8rem;
}
.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 20px;
    padding: 6px 16px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 15px;
}
@media screen and (max-width: 900px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin : 34px;
    }
    .gameInfo h1{
        font-size: 1.8rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}